*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #172112;
}

.container{
    position: relative;
    width: 400px;
    padding: 40px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(23,33,18,0.3);
}

.container h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #172112;
}

.container p{
    font-size: 1em;
    text-align: center;
    margin-bottom: 30px;
    color: #444;
}

.pengisian input{
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1em;
}

.check{
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    color: #172112;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    accent-color: #172112;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #172112;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover{
    background: #1f2b17;
}

.daftar{
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #444;
}

.login-lain{
    text-align: center;
    margin: 20px 0;
    font-size: 0.9em;
    color: #444;
}

.login-lain p{
    margin-bottom: 10px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    padding: 10px;
}

.icon a{
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s ease;
    color: #172112;
}

.google,.facebook,.instagram,.github{
    background: white;
    padding: 10px;
    border: #cacaca solid 1px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.github:hover,.instagram:hover,.facebook:hover,.google:hover{
    background: #172112;
    color: white;
}

.google:hover a,.facebook:hover a,.instagram:hover a,.github:hover a{
    color: white;
}

.daftar a{
    color: #172112;
    text-decoration: none;
    font-weight: 500;
}